<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.sawsoer"/>

<!--    <context:property-placeholder location="classpath:musicPlayer.properties"/>-->
<!--    <bean id="musicBean"-->
<!--          class="com.sawsoer.RapMusic"-->
<!--          init-method="getInitMethod"-->
<!--          destroy-method="getDestroyMethod">-->
<!--    </bean>-->

<!--    <bean id="musicPlayer"-->
<!--          class="com.sawsoer.MusicPlayer"-->
<!--          scope="prototype"-->
<!--          init-method="getInitMethod"-->
<!--          destroy-method="getDestroyMethod">-->

<!--        <property name="music" ref="musicBean"/>-->
<!--        <property name="playerName" value="${musicPlayer.playerName}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--        <property name="country" value="${musicPlayer.country}"/>-->
<!--    </bean>-->

</beans>